<h1>{{nombre}}</h1>
<h2>{{pasiva}}</h2>


<body class="blue accent-3">
  <div class="row">
      <div class="col s12 m7">
        <div class="card teal accent-3">
          <div class="card-image">
            <img src="https://i.pinimg.com/originals/e4/72/bb/e472bb38e161999075a358795a1bcae6.jpg">
            <span class="card-title">Garen</span>
          </div>
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
</body>
